# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.discord.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lukas\RiderProjects\discord\.idea\.idea.discord\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
